.apod-object {
  padding: 10px 0 50px 0;
  display: flex;
  justify-content: center;

  .explanation {
    width: 45vw;
    line-height: 2rem;
    padding: 0 0px 0 0px;
    margin-left: 5px;
    font-size: 1.2rem;
    color: $whiteColor;
  }

  .media {
    width: 45vw;
    position: relative;
    transition: opacity 200ms ease-in-out;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    &:hover {
      opacity: 70%;
      .hd-image-info {
        visibility: visible;
      }
    }

    .hd-image-info {
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: $whiteColor;
      z-index: 999;
    }

    img {
      width: 100%;
    }
  }
}
