.apod-title {
  width: 100vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .title,
  .explanation-title {
    @include white-border;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    background-color: $nasaColor;
    color: white;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  .title {
    margin-right: 5px;
  }

  .explanation-title {
    margin-left: 5px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {

  .apod-title {
    align-items: center;

    .explanation-title {
      display: none;
    }
    .title {
      width: 100vw;
      margin: 0;

      h1 {
        font-size: initial;
      }
    }
  }
  
}
