@import "../settings/mixins";

.content {
  background-color: $bgColor;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;


  a {
    text-decoration: none;
    visibility: hidden;
    animation: appear 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1s;
  }

  h1 {
    display: block;
    background-color: rgba($color: black, $alpha: 0.5);
    border-radius: 20px;
    padding: 10px;
  }

  .site_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .mars,
  .apod {
    @include flex-row;
    @include flex-center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;
    filter: brightness(80%);
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    color: $whiteColor;
    font-size: 2rem;
    text-transform: uppercase;

    &:hover {
      filter: brightness(100%);
      cursor: pointer;
      height: 50vh;
      color: $whiteColor;
      font-size: 3rem;
    }
  }

  .apod {
    background-image: url("../images/apod2.jpg");
  }

  .mars {
    background-image: url("../images/mars.jpg");
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 700px) { 

  .content {
    h1 {
      font-size: 1rem;
    }
  }
}
