.landing-animation {
  @include flex-column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;

  .text1,
  .text2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .text1 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 0.3s;
    background-color: transparent;
    padding: 10px 50px 10px 50px;
    //border-radius: 10px;
    font-size: 2rem;
    //@include white-border;
     border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.05);
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.05);

    span {
      font-family: Arial;

      &:first-of-type {
        color: $whiteColor;
      }

      &:last-of-type {
        color: #ff0000;
      }
    }
  }

  .text2 {
    color: $whiteColor;
    animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1.1s;
  }

  hr {
    width: 0;
    opacity: 0;
    height: 3px;
    background: linear-gradient(90deg, $bgColor 0%, $whiteColor 50%, $bgColor 100%);
    border: 0;
    animation: hrline 500ms linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    margin: 1rem;
  }
}

@keyframes hrline {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30vh);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  60% {
    opacity: 50%;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(30vh);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  60% {
    opacity: 50%;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 700px) {

  .landing-animation {

    .text1 {
      font-size: 1rem;
      line-height: 120%;
    }
  }
}