.landing-animation {
  @include flex-column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background-image: url('https://cdn.theatlantic.com/thumbor/y2Y7NSqvCXh0BXGrTXn5pzHBaBg=/0x141:2781x1705/1600x900/media/img/mt/2015/10/Cygnus_v3_BandW/original.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 0px 66px 33px rgba(0, 0, 0, 1);

  .text1,
  .text2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .text1 {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgb(114, 114, 114);
    // background-color: rgba($color: #ffffff, $alpha: 0.3);
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    font-size: 2rem;
    //@include white-border;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.05);
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.05);

    span {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 48px;
      color: white;

      // &:first-of-type {
      //   color: $whiteColor;
      // }

      // &:last-of-type {
      //   color: #ff0000;
      // }
    }
  }

  .text2 {
    color: $whiteColor;
    animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1.1s;
  }

  hr {
    width: 0;
    opacity: 0;
    height: 3px;
    background: linear-gradient(90deg, $bgColor 0%, $whiteColor 50%, $bgColor 100%);
    border: 0;
    animation: hrline 500ms linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    margin: 1rem;
  }
}

@keyframes hrline {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30vh);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  60% {
    opacity: 50%;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(30vh);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  60% {
    opacity: 50%;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 700px) {

  .landing-animation {

    .text1 {
      box-shadow: none;

      span {
        font-size: 1.5rem;
        line-height: 120%;
      }
    }
  }
}