@import "../settings/mixins";

.get-photos {
  width: 100vw;
  @include flex-column;
  align-items: center;
  background-color: $nasaColor;
  border-top: 1px solid $whiteColor;

  img {
    max-width: 80vw;
    padding: 0 20px 0 20px;
  }

  p {
    text-align: center;
    padding: 0.5rem;
  }

  p:first-child {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    font-weight: bold;
    font-size: 1.2rem;
  }

  ul {
    li {
      @include flex-column;
      align-items: center;
      margin-bottom: 1rem;
      background-color: rgba($color: #fff, $alpha: 0.05);
      border-radius: 10px;
    }
  }
}
