@import "../settings/mixins";

.rover-info {
  @include flex-column;
  @include back-link;

  align-items: center;
  background-color: $nasaColor;
  color: $whiteColor;
  height: 30vh;
  justify-content: space-between;

  a {
    font-size: 1.5rem;
  }

  .info {
    width: 40vw;
    height: 25vh;
    @include flex-row;
    background-color: $nasaColor;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $whiteColor;

    img {
      @include white-border;
      height: 20vh;
    }

    .get-rover-info {
      height: 20vh;
      @include flex-column;
      justify-content: space-between;
      align-items: flex-start;

      h1 {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 700px) {
  .rover-info {
    height: auto;

    .info {
      @include flex-column;

      img {
        margin-top: 1rem;
      }


    width: 100%;
    height: 100%;

    .get-rover-info {
      height: auto;
      align-items: center;

      p {
        padding: 0.5rem;
      }

      h1 {
        padding: 0.5rem;

        
        font-size: 1.2rem;
      }
    }

    }
}
}
