@import "../settings/mixins";

.choose-rover {
  min-height: 70vh;

  a {
    text-decoration: none;
    @include flex-column;
  }

  img {
    width: 100%;
    transition: filter 200ms ease;

    &:hover {
      filter: brightness(75%);
    }
  }

  .choose-rover-title {
    @include flex-column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: $nasaColor;

    h1 {
      @include white-border;
      padding: 1rem;
      color: $nasaColor;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 10px;
      background-color: white;
    }
  }

  .rovers {
    @include flex-row;
    align-items: center;
    justify-content: center;
    background-color: $nasaColor;
    // height: 60vh;
    width: 100vw;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }

  .rover {
    width: 30%;
    @include flex-column;
    @include white-border;
    border-radius: 16px;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .choose-rover {
    .choose-rover-title {
      h1 {
        font-size: initial;
      }
    }

    .rovers {
      height: auto;
      @include flex-column;

      .rover {
        width: 80%;
        margin: 1rem 0 1rem 0;
      }
    }
  }
}
