.text-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .bracket {
    //position: relative;
    animation: mymove 1s ease;
    color: $whiteColor;
    font-size: 10rem;
    animation-fill-mode: forwards;
    font-family: Arial;
  }

  .central {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0;
    animation: central-stretch 1s ease-in-out;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
    color: $bgColor;
    font-size: 5rem;

    p {
      color: $bgColor;
      opacity: 0;
      font-size: 0;
      animation: reveal 750ms ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 1500ms;
      font-weight: bold;
      text-transform: uppercase;

    &:first-child {
      font-family: Arial;
      background-color: $nasaColor;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      font-family: Arial;
    }
    }
    span {
      font-size: 10rem;
      &:first-child {
        color: $whiteColor;
      }
      &:last-child {
        color: #fc3d21;
      }
    }
  }

  @keyframes mymove {
    20% {
      color: $nasaColor;
    }
    40% {
      color: $whiteColor;
    }
    60% {
      color: $nasaColor;
    }
    80% {
      color: $whiteColor;
    }
    100% {
      color: $nasaColor;
    }
  }

  @keyframes central-stretch {
    20% {
      width: 0;
    }
    100% {
      width: 50vw;
    }
  }

  @keyframes reveal {
    0% {
      font-size: 0rem;
      opacity: 0;
    }
    100% {
      font-size: 3rem;
      opacity: 100%;
    }
  }
}
